<!DOCTYPE html>
{% extends "base.html"%}
{%load static%}
{% block style%}
<link rel="stylesheet" href="{% static "css/dangki.css"%}">
{% endblock %}
  {% block body_block%}
  <div class="panel panel-dangki">
    <div class="form-title" data-reactid="44">ĐĂNG KÝ</div>
    <form data-reactid="45" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {{user_form.as_p}}
      {{profile_form.as_p}}
      <div class="form-group" data-reactid="48">
        <button type="submit" class="btn dangki" data-reactid="49">ĐĂNG KÝ</button>
      </div>
      <div data-reactid="50" class="chu-dangki">
        Bấm vào đăng ký nghĩa là bạn đã đọc và đồng ý với
        <a href="#" data-reactid="52"> Điều khoản sử dụng của Chợ Tốt </a>
      </div>
      <p class="dangki">Bạn đã có tài khoản <a href="{% url 'login_register:login'%}">Đăng nhập</a></p>
    </form>
  </div>
  {% endblock %}