<!DOCTYPE html>
{% extends "base.html"%}
{%load static%}
{% block style%}
<link rel="stylesheet" href="{% static "css/dangki.css"%}">
{% endblock %}
  {% block body_block%}
    <div class="panel panel-dangki">
    <div class="form-title" data-reactid="44">LẤY LẠI MẬT KHẨU</div>
    <form data-reactid="45" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group" data-reactid="48">
        <p style="text-align:center;">{{message}}</p>
        <button type="submit" class="btn dangki" data-reactid="49">Lấy lại mật khẩu</button>
      </div>
    </form>
  </div>
  {% endblock %}